<form class="flexcol {{cssClass}}" autocomplete="off">
  {{log 'cmdmandala-sheet' this}} 
  {{!-- Sheet Header --}}
  <div class="sheet-display">
    {{!-- Side Sheet --}}
    <div class="side-sheet">
      <div>
      <img style="border: 0;" src="systems/devastra/images/ui/logo_jeu.png">
      </div>
      <div>
        <div class="logo-img">
        </div>
      </div>
      <div>
        {{{localize "DEVASTRA.SpeechMandala"}}}
      </div>
    </div>

    {{!-- Body Sheet --}}
    <div class="body-sheet">
      <div class="mandala-parent">
      
        <div class="mandala-child2">
          <img src="systems/devastra/images/ui/mandala-mute-gm.png" style="padding: 3px;" title="{{ localize 'DEVASTRA.Mandala' }}" alt="Mandala" />
        </div>

        <div class="mandala-child1">
          <div style="height: 83.5px;" class="click clickonmandala" data-libel-id="mandala-7">
            {{#if viseur7}}
            <span class="decale rouge">7</span>
            {{else}}
            <span class="decale translucide">7</span>
            {{/if}}
          </div>
          <div style="height: 83.5px;" class="click clickonmandala" data-libel-id="mandala-6">
            {{#if viseur6}}
            <span class="decale rouge">6</span>
            {{else}}
            <span class="decale translucide">6</span>
            {{/if}}
          </div>
          <div style="height: 83.5px;" class="click clickonmandala" data-libel-id="mandala-5">
            {{#if viseur5}}
            <span class="decale rouge">5</span>
            {{else}}
            <span class="decale translucide">5</span>
            {{/if}}
          </div>
          <div style="height: 83.5px;" class="click clickonmandala" data-libel-id="mandala-4">
            {{#if viseur4}}
            <span class="decale rouge">4</span>
            {{else}}
            <span class="decale translucide">4</span>
            {{/if}}
          </div>
          <div style="height: 83.5px;" class="click clickonmandala" data-libel-id="mandala-3">
            {{#if viseur3}}
            <span class="decale rouge">3</span>
            {{else}}
            <span class="decale translucide">3</span>
            {{/if}}
          </div>
          <div style="height: 83.5px;" class="click clickonmandala" data-libel-id="mandala-2">
            {{#if viseur2}}
            <span class="decale rouge">2</span>
            {{else}}
            <span class="decale translucide">2</span>
            {{/if}}
          </div>
          <div style="height: 83.5px;" class="click clickonmandala" data-libel-id="mandala-1">
            {{#if viseur1}}
            <span class="decale rouge">1</span>
            {{else}}
            <span class="decale translucide">1</span>
            {{/if}}
          </div>
          <div style="height: 83.5px;" class="click clickonmandala" data-libel-id="mandala-0">
            {{#if viseur0}}
            <span class="decale rouge"><i class="fas fa-pause"></i></span>
            {{else}}
            <span class="decale translucide"><i class="fas fa-pause"></i></span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>