<form class="flexcol {{cssClass}}" autocomplete="off">
  {{log 'cmdmandala-sheet' this}} 
  {{!-- Sheet Header --}}
  <div class="sheet-display">

    {{!-- Body Sheet --}}
    <div class="body-sheet">
      <div class="menu">
        <select name="users">
          {{selectOptions userChoices selected=selectedUser valueAttr="key" labelAttr="label" blank="DEVASTRA.opt.none" localize=true}}
        </select>
      </div>

      <div class="tab mandala mandala_wrap">
        <div class="mandala_decale">
          <span class="valeur center mandala-decale"><p>7</p></span>
          <span class="valeur center mandala-decale"><p>6</p></span>
          <span class="valeur center mandala-decale"><p>5</p></span>
          <span class="valeur center mandala-decale"><p>4</p></span>
          <span class="valeur center mandala-decale"><p>3</p></span>
          <span class="valeur center mandala-decale"><p>2</p></span>
          <span class="valeur center mandala-decale"><p>1</p></span>
        </div>
        <div class="schema">

          <div class="jetonDepot jetonDepot7 grab">
            {{#if mandala7}}
              {{#if (eq 2 mandala7type)}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
              {{else}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
              {{/if}}
            {{else}}
              <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
            {{/if}}
          </div>
          <div class="jetonDepot jetonDepot6 grab">
            {{#if mandala6}}
              {{#if (eq 2 mandala6type)}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
              {{else}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
              {{/if}}
            {{else}}
              <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
            {{/if}}
          </div>
          <div class="jetonDepot jetonDepot5 grab">
            {{#if mandala5}}
              {{#if (eq 2 mandala5type)}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
              {{else}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
              {{/if}}
            {{else}}
              <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
            {{/if}}
          </div>
          <div class="jetonDepot jetonDepot4 grab">
            {{#if mandala4}}
              {{#if (eq 2 mandala4type)}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
              {{else}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
              {{/if}}
            {{else}}
              <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
            {{/if}}
          </div>
          <div class="jetonDepot jetonDepot3 grab">
            {{#if mandala3}}
              {{#if (eq 2 mandala3type)}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
              {{else}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
              {{/if}}
            {{else}}
              <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
            {{/if}}
          </div>
          <div class="jetonDepot jetonDepot2 grab">
            {{#if mandala2}}
              {{#if (eq 2 mandala2type)}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
              {{else}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
              {{/if}}
            {{else}}
              <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
            {{/if}}
          </div>
          <div class="jetonDepot jetonDepot1 grab">
            {{#if mandala1}}
              {{#if (eq 2 mandala1type)}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonShakti.webp" alt="Jeton Shakti" />
              {{else}}
                <img class="jeton drop-shadow" src="systems/devastra/images/ui/JetonAction.webp" alt="Jeton Action" />
              {{/if}}
            {{else}}
              <img class="jeton" src="systems/devastra/images/ui/Cercle2.png" alt="Cercle" />
            {{/if}}
          </div>
          
        </div>

          <img class="background" src="/systems/devastra/images/ui/mandala-mute-horizontal.png" />

      </div>
    </div>
  </div>
</form>